body {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.top-nav-container {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.top-left-nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.top-right-nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.page-break {
    border-top: 1px solid rgb(161, 158, 158);
    width: 100%;
    margin-bottom: 0.5rem;
}

.mid-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 65%;
    border-bottom: 1px solid rgb(161, 158, 158);
    padding-bottom: 0.5rem;
}

.logo img {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    padding-left: 2rem;
}

.search-and-categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
}

.search-and-categories-container input {
    width: 90%;
    height: 35px;
    border: 2px solid black;
    font-size: larger;
}

.search-and-categories-container .categories-container {
    background-color:rgb(255, 255, 255);
    border: 1px solid black;
    width: 20%;
    height: 37px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
}

.search-and-categories-container button {
    margin-left: 5px;
    background-color: #3176dd;
    color: white;
    border: none;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 2rem;

    transition-duration: 0.4s;
    transition: transform 0.3s ease-in-out;
}

.search-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.bottom-nav {
    width: 60%;
}

.bottom-nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 0.1rem;
    margin-top: 10px;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Slideshow container */
.slideshow-container {
    max-width: 65%;
    width: 100%;
    position: relative;
    margin: auto;

    margin-top: 2rem;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/4 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .mySlides img {
    height: 20rem;
    width: 100%;

    border-radius: 5px;
  }